<a href="index.html">
    <span class="xl:inline-block hidden">
        <img src="assets/images/logo/logo.svg" class="black_logo " alt="logo">
        <img src="assets/images/logo/logo-white.svg" class="white_logo" alt="logo">
    </span>
    <span class="xl:hidden inline-block">
        <img src="assets/images/logo/logo-c.svg" class="black_logo " alt="logo">
        <img src="assets/images/logo/logo-c-white.svg" class="white_logo " alt="logo">
    </span>
</a>
<button class="smallDeviceMenuController  open-sdiebar-controller xl:hidden inline-block">
    <iconify-icon
        class="leading-none bg-transparent relative text-xl top-[2px] text-slate-900 dark:text-white"
        icon="heroicons-outline:menu-alt-3"></iconify-icon>
</button>
