
<!-- BEGIN: Earnings -->
<div class="bg-white dark:bg-slate-800 rounded py-3 px-4">
    <div class="flex items-center">
        <div class="flex-none">
            <div class="text-sm text-slate-600 dark:text-slate-300 mb-[6px]">
                Earnings
            </div>
            <div class="text-lg text-slate-900 dark:text-white font-medium mb-[6px]">
                $12,335.00
            </div>
            <div class="font-normal text-xs text-slate-600 dark:text-slate-300">
                <span class="text-primary-500">+08%</span>
                From last Week
            </div>
        </div>
        <div class="flex-1">
            <div class="legend-ring2">
                <div class="donut-chart" height="200" colors="#0CE7FA,#FA916B" hideLabel="hideLabel" size="65%"></div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white dark:bg-slate-800 rounded py-3 px-4">
    <div class="flex items-center">
        <div class="flex-none">
            <div class="text-sm text-slate-600 dark:text-slate-300 mb-[6px]">
                Earnings
            </div>
            <div class="text-lg text-slate-900 dark:text-white font-medium mb-[6px]">
                $12,335.00
            </div>
            <div class="font-normal text-xs text-slate-600 dark:text-slate-300">
                <span class="text-primary-500">+08%</span>
                From last Week
            </div>
        </div>
        <div class="flex-1">
            <div class="legend-ring2">
                <div class="donut-chart" height="200" colors="#4669FA,#50C793" hideLabel="hideLabel" size="65%"></div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white dark:bg-slate-800 rounded py-3 px-4">
    <div class="flex items-center">
        <div class="flex-none">
            <div class="text-sm text-slate-600 dark:text-slate-300 mb-[6px]">
                Earnings
            </div>
            <div class="text-lg text-slate-900 dark:text-white font-medium mb-[6px]">
                $12,335.00
            </div>
            <div class="font-normal text-xs text-slate-600 dark:text-slate-300">
                <span class="text-primary-500">+08%</span>
                From last Week
            </div>
        </div>
        <div class="flex-1">
            <div class="legend-ring2">
                <div class="donut-chart" height="200" colors="#F1595C,#0CE7FA" hideLabel="hideLabel" size="65%"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: Earnings -->