<!-- BEGIN: Lock Form -->
<form class="space-y-4" action='index.html'>
    <div class="fromGroup">
        <label class="block capitalize form-label">email</label>
        <div class="relative ">
            <input type="email" name="email" class="  form-control py-2" placeholder="Enter your Email">
        </div>
    </div>
    <button class="btn btn-dark block w-full text-center">Unlock</button>
</form>
<!-- END: Lock Form -->