{% extends "layout/layout.njk" %}
{% block content %}
    {% set pageTitle = "Blank-Page" %}
    {% set menuCategory = "Utility" %}
    {% include '../templates/components/breadcrumb.njk' %}
    <div class=" space-y-5">
        <h6>Your Content...</h6>
    </div>
{% endblock %}