{% extends "layout/layout.njk" %}
{% block content %}
    {% set pageTitle = "Buttons" %}
    {% set menuCategory = "Components" %}
    {% include '../templates/components/breadcrumb.njk' %}
    <div
        class="grid xl:grid-cols-2 grid-cols-1 gap-6">
        <!-- BEGIN: Basic Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Basic</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        {% set basicColor = ["primary","secondary","info","success","warning","danger", "dark", "light"] %}
                        {% for item in basicColor %}
                            <button class="btn inline-flex justify-center btn-{{ item }}">{{ item }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Basic Buttons -->

        <!-- BEGIN: Outline Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Outline</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        {% set basicColor = ["primary","secondary","info","success","warning","danger", "dark", "light"] %}
                        {% for item in basicColor %}
                            <button class="btn inline-flex justify-center btn-outline-{{ item }}">{{ item }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Outline Buttons -->

        <!-- BEGIN: Light Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Light</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        {% set basicColor = ["primary","secondary","info","success","warning","danger", "dark", "light"] %}
                        {% for item in basicColor %}
                            <button class="btn inline-flex justify-center btn-{{ item }} light">{{ item }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Light Buttons -->

        <!-- BEGIN: Raised Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Raised</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        {% set basicColor = ["primary","secondary","info","success","warning","danger", "dark", "light"] %}
                        {% for item in basicColor %}
                            <button class="btn inline-flex justify-center btn-{{ item }} shadow-base2">{{ item }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Raised Buttons -->

        <!-- BEGIN: Rounded Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Rounded</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        {% set basicColor = ["primary","secondary","info","success","warning","danger", "dark", "light"] %}
                        {% for item in basicColor %}
                            <button class="btn inline-flex justify-center btn-{{ item }} rounded-[25px]">{{ item }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Rounded Buttons -->

        <!-- BEGIN: Rounded Outline Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Rounded Outline</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        {% set basicColor = ["primary","secondary","info","success","warning","danger", "dark", "light"] %}
                        {% for item in basicColor %}
                            <button class="btn inline-flex justify-center btn-outline-{{ item }} rounded-[25px]">{{ item }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Rounded Outline Buttons -->

        <!-- BEGIN: Icon Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Icon</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        <button class="btn inline-flex justify-center btn-primary ">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="heroicons-outline:newspaper"></iconify-icon>
                                <span>Left Icon</span>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-outline-primary ">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="heroicons-outline:newspaper"></iconify-icon>
                                <span>Left Icon</span>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-primary ">
                            <span class="flex items-center">
                                <span>Right Icon</span>
                                <iconify-icon class="text-xl ltr:ml-2 rtl:mr-2" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-outline-primary ">
                            <span class="flex items-center">
                                <span>Right Icon</span>
                                <iconify-icon class="text-xl ltr:ml-2 rtl:mr-2" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-primary ">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-outline-primary ">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Icon Buttons -->

        <!-- BEGIN: Icon Rounded Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Icon Rounded</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        <button class="btn inline-flex justify-center btn-primary rounded-[25px]">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="heroicons-outline:newspaper"></iconify-icon>
                                <span>Left Icon</span>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-outline-primary rounded-[25px]">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="heroicons-outline:newspaper"></iconify-icon>
                                <span>Left Icon</span>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-primary rounded-[25px]">
                            <span class="flex items-center">
                                <span>Right Icon</span>
                                <iconify-icon class="text-xl ltr:ml-2 rtl:mr-2" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-outline-primary rounded-[25px]">
                            <span class="flex items-center">
                                <span>Right Icon</span>
                                <iconify-icon class="text-xl ltr:ml-2 rtl:mr-2" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-primary rounded-[25px]">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-outline-primary rounded-[25px]">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                        <button class="btn inline-flex h-12 w-12 items-center justify-center btn-primary rounded-full">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Icon Buttons -->

        <!-- BEGIN: Size Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Size</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        <button class="btn inline-flex justify-center btn-primary btn-xl">
                            <span class="flex items-center">
                                <span>Large</span>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-primary">
                            <span class="flex items-center">
                                <span>Deault</span>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-primary btn-sm">
                            <span class="flex items-center">
                                <span>Small</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Size Buttons -->

        <!-- BEGIN: Disabled Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Disabled</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        {% set basicColor = ["primary","secondary","info","success","warning","danger", "dark", "light"] %}
                        {% for item in basicColor %}
                            <button class="btn inline-flex justify-center btn-{{ item }} cursor-not-allowed light" disabled="disabled">{{ item }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Disabled Buttons -->

        <!-- BEGIN: Loading Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Loading</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    {% set basicColor = ["primary","secondary","info","success","warning","danger", "dark", "light"] %}
                    <div class="btn-group-example btn-group">
                        {% for item in basicColor %}
                            <button class="btn inline-flex justify-center btn-{{ item }} ">
                                <iconify-icon class="text-xl spin-slow ltr:mr-2 rtl:ml-2 relative top-[1px]" icon="line-md:loading-twotone-loop"></iconify-icon>
                                <span>Loading</span>
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Loading Buttons -->

        <!-- BEGIN: Group Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Group Buttons</div>
                    </div>
                </header>
                <div class="card-text h-full space-y-5">
                    <div class="outline-buttons">
                        <div class="groupButtons">
                            <button class="btn inline-flex justify-center btn-outline-primary active">
                                Weekly
                            </button>
                            <button class="btn inline-flex justify-center btn-outline-primary ">
                                Monthly
                            </button>
                            <button class="btn inline-flex justify-center btn-outline-primary ">
                                Yearly
                            </button>
                        </div>
                    </div>
                    <div class="normal-buttons">
                        <div class="groupButtons">
                            <button class="btn inline-flex justify-center btn-primary">
                                Weekly
                            </button>
                            <button class="btn inline-flex justify-center btn-primary active">
                                Monthly
                            </button>
                            <button class="btn inline-flex justify-center btn-primary ">
                                Yearly
                            </button>
                        </div>
                    </div>
                    <div class="normal-buttons">
                        <div class="groupButtons">
                            <button class="btn inline-flex justify-center btn-secondary">
                                Weekly
                            </button>
                            <button class="btn inline-flex justify-center btn-secondary active">
                                Monthly
                            </button>
                            <button class="btn inline-flex justify-center btn-secondary ">
                                Yearly
                            </button>
                        </div>
                    </div>
                    <div class="normal-buttons">
                        <div class="groupButtons">
                            <button class="btn inline-flex justify-center btn-primary active">
                                <span class="flex items-center">
                                    <iconify-icon class="text-2xl relative top-[1px]" icon="ic:round-keyboard-arrow-left"></iconify-icon>
                                    <span>Back</span>
                                </span>
                            </button>
                            <button class="btn inline-flex justify-center btn-primary ">
                                <span class="flex items-center">
                                    <span>Next</span>
                                    <iconify-icon class="text-2xl relative top-[1px]" icon="ic:round-keyboard-arrow-right"></iconify-icon>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Group Buttons -->

        <!-- BEGIN: Block Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Block</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        <button class="btn inline-flex justify-center btn-primary block-btn">
                            <span class="flex items-center">
                                <span>Primary</span>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-secondary block-btn">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="heroicons-outline:newspaper"></iconify-icon>
                                <span>Left Icon</span>
                            </span>
                        </button>
                        <button class="btn inline-flex justify-center btn-success block-btn">
                            <span class="flex items-center">
                                <span>Right Icon</span>
                                <iconify-icon class="text-xl ltr:ml-2 rtl:mr-2" icon="heroicons-outline:newspaper"></iconify-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Block Buttons -->

        <!-- BEGIN: Linked Buttons -->
        <div class="card">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Linked Button</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-example btn-group">
                        {% set basicColor = ["primary","secondary","info","success","warning","danger", "dark", "light"] %}
                        {% for item in basicColor %}
                            <a href="buttons.html" class="btn inline-flex justify-center mx-2 mt-3 btn-{{ item }} ">{{ item }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Linked Buttons -->

    </div>
{% endblock %}