{% extends "layout/layout-blank.njk" %}
{% block content %}
    <div
        class="loginwrapper bg-cover bg-no-repeat bg-center"
        style="background-image: url(assets/images/all-img/page-bg.png);">
        <div class="lg-inner-column">
            <div class="left-columns lg:w-1/2 lg:block hidden">
                <div class="logo-box-3">
                    <a heref="index.html" class="">
                        <img src="assets/images/logo/logo-white.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="lg:w-1/2 w-full flex flex-col items-center justify-center">
                <div class="auth-box-3">
                    <div class="mobile-logo text-center mb-6 lg:hidden block">
                        <a heref="index.html">
                            <img src="assets/images/logo/logo.svg" alt="" class="mb-10 dark_logo">
                            <img src="assets/images/logo/logo-white.svg" alt="" class="mb-10 white_logo">
                        </a>
                    </div>
                    <div class="text-center 2xl:mb-10 mb-5">
                        <h4 class="font-medium">Sign In</h4>
                        <div class="text-slate-500 dark:text-slate-400 text-base">
                            Sign in to your account to start using Dashcode
                        </div>
                    </div>
                    {% include  "../templates/auth/common/loginfrom.njk" %}
                    <div class=" relative border-b-[#9AA2AF] border-opacity-[16%] border-b pt-6">
                        <div class=" absolute inline-block bg-white dark:bg-slate-800 dark:text-slate-400 left-1/2 top-1/2 transform -translate-x-1/2
                                px-4 min-w-max text-sm text-slate-500 dark:text-slate-400font-normal ">
                            Or continue with
                        </div>
                    </div>
                    <div class="max-w-[242px] mx-auto mt-8 w-full">
                        {% include  "../templates/auth/common/social.njk" %}
                    </div>
                    <div class="mx-auto font-normal text-slate-500 dark:text-slate-400 2xl:mt-12 mt-6 uppercase text-sm text-center">
                        Already registered?
                        <a href="signup-one.html" class="text-slate-900 dark:text-white font-medium hover:underline">
                            Sign In
                        </a>
                    </div>
                </div>
            </div>
            <div class="auth-footer3 text-white py-5 px-5 text-xl w-full">
                Unlock your Project performance
            </div>
        </div>
    </div>
{% endblock %}